/*----- Main -----*/

.main-list {
  padding: 40px 20px;
}

.list li button {
  cursor: pointer;
}

.check-item {
  top: 28px;
}

.main-form {
  padding: 28px 0;
}

.input-field {
  margin-right: 12px;
  padding: 0 28px;
}

.secondary-btn {
  cursor: pointer;
}

.add-btn.is-active {
  cursor: pointer;
}

.shuffle-btn.is-active {
  cursor: pointer;
}