/* Style Rules
  1- Position
  2- Display
  3- Box Model
  4- Typography
  5- Visual Effects
*/

:root {
  --yellow: #F5DE49;
  --white: #FFF;
  --off-white: #EDEDED;
  --light-gray: #E8E8E8;
  --mid-gray: #8A8987;
  --dark-gray: #4F4E4A;
  --black: #0F0E09;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  width: 100%;
  min-width: 320px;
  font-size: 1.6rem;
}

span.icon {
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*----- Header -----*/

.header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 50px;
  background-color: var(--yellow);
  box-shadow: 0px 4px 8px 0px rgba(79,78,74,0.12);
  transition: .6s;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 44px);
  max-width: 514px;
  height: 100%;
  margin: 0 auto;
}

.btn {
  display: none;
}

.burger {
  position: absolute;
  top: 16px;
  left: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 17px;
  transition: 0.6s;
}

.burger .line {
  display: block;
  width: 24px;
  height: 2px;
  background-color: var(--black);
  transition: 0.6s;
}

.logo {
  display: flex;
}

.logo img {
  width: 60px;
  height: 36px;
}

nav {
  display: none;
  margin-top: 20px;
}

nav .repo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 60px;
  margin-bottom: 24px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  color: var(--black);
  background-color: var(--white);
}

nav .repo .icon{
  width: 35px;
  height: 35px;
  margin-right: 4px;
  background-image: url('https://byhernand.com/the-initial/assets/github.svg');
}

nav .details {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--black);
}

.header.full-screen {
  height: 100vh;
}

.header.full-screen .logo img{
  width: 108px;
  height: 62px;
}

.header.full-screen nav {
  display: block;
}

.btn:checked + .burger {
  transform: translateY(8px);
}

.btn:checked + .burger .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg) scale(1.2);
}

.btn:checked + .burger .line:nth-child(2) {
  transform: scale(0);
}

.btn:checked + .burger .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg) scale(1.2);
}

/*----- Main -----*/

.main {
  margin: 50px 0 70px;
}

.main-list {
  position: relative;
  width: 100%;
  max-width: 570px;
  padding: 24px 20px;
  margin: 0 auto;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
}

.loader.is-active {
  display: grid;
  place-content: center;
}

.spinner {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 6px solid var(--yellow);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

.check-item {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.check-item input {
  width: 24px;
  height: 24px;
  border: 3px solid var(--black);
  background-color: var(--off-white);
  border-radius: 50%;
  vertical-align: middle;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

.check-item.is-active {
  display: flex;
}

.check-item.is-active:active input {
  background-color: var(--black);
}

.my-list {
  list-style: none;
  font-size: 2rem;
  list-style-position: inside;
}

.my-list li {
  position: relative;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 16px;
  color: var(--dark-gray)
}

.my-list li:hover span{
  display: inline-block;
}

.my-list li:last-child {
  margin-bottom: 0;
}

.my-list li span {
  display: none;
  position: absolute;
  right: 0px;
  width: 27px;
  height: 27px;
  background-image: url('https://byhernand.com/the-initial/assets/close.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.my-list.is-random {
  list-style-type: decimal;
}

.my-list.is-random li:nth-child(1) {
  font-weight: bold;
  font-size: 2.4rem;
  color: var(--black);
}

.main-form {
  position: fixed;
  z-index: 2;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 570px;
  padding: 16px 0;
  margin: 0 auto;
  background-color: var(--white);
}

.main-form.random-mode {
  justify-content: flex-end;
  padding-right: 20px;
}

.add-btn, .shuffle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  fill: var(--white);
  transition: .2s;
}

.add-btn {
  color: var(--mid-gray);
  background-color: var(--mid-gray);
}

.add-btn .icon {
  width: 28px;
  height: 28px;
  fill: inherit;
  transition: .2s;
}

.add-btn.is-active {
  background-color: var(--yellow);
  fill: var(--black);
}

.add-btn.is-hide {
  display: none;
}

.shuffle-btn {
  display: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: var(--yellow);
}

.shuffle-btn .icon {
  width: 28px;
  height: 28px;
  background-image: url('https://byhernand.com/the-initial/assets/shuffle.svg');
}

.shuffle-btn.is-active {
  display: flex;
}

.shuffle-btn.rerun-mode {
  width: auto;
  padding: 0 16px;
  border-radius: 30px;
}

.shuffle-btn.rerun-mode span:nth-child(2) {
  margin-left: 3px;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--black);
}

.shuffle-btn.is-hide {
  display: none;
}

.input-field {
  display: flex;
  align-items: center;
  width: calc(100% - 98px);
  min-width: 222px;
  max-width: 466px;
  height: 52px;
  padding: 0 24px;
  margin-right: 8px;
  border-radius: 30px;
  background-color: var(--off-white);
}

.input-field.is-hide {
  display: none;
}

.input-field input {
  width: 100%;
  border: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.8rem;
  color: var(--dark-gray);
  background-color: transparent;
}

.input-field input::placeholder {
  color: var(--mid-gray);
}

.input-field input:focus-visible,
.input-field button:focus-visible {
  outline: none;
}

.secondary-btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 52px;
  padding: 0 16px;
  border: none;
  margin-right: 8px;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--mid-gray);
  background-color: var(--off-white);
  border-radius: 30px;
}

.secondary-btn .icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 3px;
  background-image: url('https://byhernand.com/the-initial/assets/checklist.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.secondary-btn.is-active {
  display: flex;
}

.secondary-btn.reset-on .icon{
  background-image: url('https://byhernand.com/the-initial/assets/restart.svg');
}