/*----- Header -----*/

.header.is-active {
  height: 50px;
}

.header.is-active .logo{
  width: auto;
}

.header.is-active nav {
  display: flex;
}

.header-container {
  flex-direction: row;
  justify-content: space-between;
}

.burger {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  margin: 0;
}

nav a {
  position: relative;
  display: inline-block;
}

nav a:hover {
  opacity: .65;
}

nav .repo {
  width: auto;
  height: 28px;
  margin-bottom: 0;
  font-size: 1.4rem;
  border-radius: 0;
  background-color: transparent;
}

nav .repo .icon {
  width: 24px;
  height: 24px;
}

nav .details {
  display: none;
}

/*----- Main -----*/

.main-form {
  padding: 24px 0;
}

.spinner {
  width: 80px;
  height: 80px;
}

.check-item {
  cursor: pointer;
}

.check-item input {
  cursor: pointer;
}

.list li {
  transition: .2s;
}

.list li:hover {
  border-color: var(--dark-gray);
}

.list li span {
  right: 8px;
}

.list.random-mode li:hover {
  border-color: var(--light-gray);
}